/* ----------------------------------------- */
/* FONTS */
/* ------------------------------------------*/
.evento-body__title h3 {
  font-size: 1.3rem;
}

.noticia-card-title h3 {
  font-size: 1.3rem;
}

.noticia-secundaria-title h3 {
  font-size: 1.2rem;
}

/* ----------------------------------------- */
/* NOTICIAS PRINCIPALES */
/* ------------------------------------------*/
.blog-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.removeDecoration a {
  text-decoration: none;
}

.noticias-principales h3  {
  color: black;

}

.noticia-card-title {
  margin-top: 0.5em;
}

.notica-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.noticia-card-body p {
  color: var(--primary-text-color);
}

.noticia-card-footer p {
  margin-top: auto;
  color: var(--secondary-text-color);
}

.noticia-card-footer {
  margin-top: auto;
}

.noticia-card-footer p {
  display: inline;
  margin: 0;
}

.noticia-card-footer__autor {
  text-decoration: underline;
}

.noticia-card-footer__date::before,
.noticia-card-footer__date::after {
  content: "-";
}

/* ----------------------------------------- */
/* NOTICIAS SECUNDARIAS */
/* ------------------------------------------*/
.noticias-secundarias h3 {
  color: black;
}

.noticia-secundaria-body p {
  color: var(--primary-text-color);
}

.noticia-secundaria {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .noticia-secundaria {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .noticia-secundaria:not(:last-child) {
    border-bottom: 1px solid var(--light-primary-color);
  }
}

.noticia-secundaria-footer {
  color: var(--secondary-text-color);
}

.noticia-secundaria-footer {
  margin-top: auto;
}

.noticia-secundaria-footer__autor {
  text-decoration: underline;
}

.noticia-secundaria-footer__date::before,
.noticia-secundaria-footer__date::after {
  content: "-";
}

.noticia-secundaria-footer p {
  margin: 0;
}

.noticia-secundaria-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* ----------------------------------------- */
/* EVENTOS */
/* ------------------------------------------*/
.evento {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--light-primary-color);
}

.evento-first {
  padding-top: 0;
}

.evento-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.eventos h3 {
  color: black;
}

.evento-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.evento-body__resume p {
  color: var(--primary-text-color);
}

.evento-footer {
  color: var(--secondary-text-color);
}

.evento-footer p {
  margin: 0;
}

.evento-footer {
  margin-top: auto;
}

.evento-footer__autor {
  text-decoration: underline;
}

.evento-footer__date::before,
.evento-footer__date::after {
  content: "-";
}

/* ----------------------------------------- */
/* MEDIA QUERIES COMUNES */
/* ------------------------------------------*/
