/****/


.column-1 {
    height: 600px;
    border-radius: 8px 0% 0% 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #303F9F 0%, #3F51B5 35%, #007bff 100%);
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 3em !important;
}

.column-2 {
    height: 600px;
    border-radius: 0% 8px 8px 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 2 em !important;
    padding-right: 2 em !important;
    justify-content: center;
}

.formulario {
    height: 600px;
    border-radius: 8px;
    margin: 2em;
    min-height: 100px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(71, 71, 71, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.row {
    margin: 0px !important;
}

.inner {
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

i {
    margin-right: 1em;
}

.inner-h1 {
    margin-top: 50px;
}

.inner-h1 h1 {
    font-size: 3em;
    font-weight: 700;
    color: white;
}

.checkbox-ale {
    margin: 1em;
}

.btn-ale {
    margin-top: 1em;
    height: 60px;
}

.column-2 h2 {
    color: #303F9F;
    font-size: 3em;
    font-weight: 700;
}

.column-1 h3 {
    text-align: center;
}

@media (max-width: 991px) {
    .formulario {
        height: 1200px;
    }

    .column-1 {
        justify-content: center;
        border-radius: 8px;
    }
    .column-1 {  
        align-items: center;
        padding: 0px !important;
        border-radius: 0px 0px 8px 8px;
    }
    .inner, .inner-h1 {
        padding-left: 1em;
    }

}