.paddingText{
    padding: 1rem 0;
}

.pEquipo {
    line-height: 2rem;
    letter-spacing: 0.08rem;
}

/***Información desarrolladores***/

#desarrollador1{
    padding: 2.2rem 0;
}

#desarrollador2{
    padding: 2.2rem 0;
    background-color: rgb(231, 234, 235);
}

#desarrollador3{
    padding: 2.2rem 0;
}

#desarrollador4{
    padding: 2.2rem 0;
    background-color: rgb(231, 234, 235);
}


/***Sección valores del equipo***/

#values {
    padding: 5rem 0;
}

#value1 ,#value2, #value3  {
    margin: 2rem 1rem;
    width: 20rem;
    height: 15rem;
    background-color:  rgb(231, 234, 235) ;
    /*border: 0.2rem solid #3F51B5;*/
    padding:3rem 1rem;
}

#values h2{
    text-align: center;
    padding: 2rem 0;
    font-size: 2.5rem;
}

.valueText{
    padding: 3.5rem 0;
    text-align: center;
}

.valueText h3{
    font-size: 1.6rem;
    padding-bottom: 0.7rem;
    color: rgb(22, 22, 22);
}


/***Carousell***/

#frasesEquipo{
   height: 20rem;
   align-items: center;
}

#frasesEquipo p{
    align-items: center;
    text-align: center;
    
}

#frasesSection{
    margin-top: 2rem;
    margin-bottom: 7rem;
    background-color:  rgb(231, 234, 235) ;
}

.pEquipoFrases {
    font-size: 1.5rem;
    line-height: 2.2rem;
}