

.h2Equipo{
    text-align: center;
    padding: 1.5rem 0rem;
    font-size: 2.5rem;
}

/***Información desarrolladores***/

.paddingDev{
    padding: 1rem 0;
}

.pDev {
    line-height: 2rem;
    letter-spacing: 0.08rem;
}

#desarrollador1{
    padding: 2.2rem 0;
}

#desarrollador2{
    padding: 2.2rem 0;
    background-color: rgb(231, 234, 235);
}

#desarrollador3{
    padding: 2.2rem 0;
}

#desarrollador4{
    padding: 2.2rem 0;
    background-color: rgb(231, 234, 235);
}


/***Sección valores del equipo***/

#values {
    padding: 8rem 0;
}

#value1 ,#value2, #value3  {
    margin: 2rem 1rem;
    width: 22rem;
    height: 19rem;
    background-color:  rgb(231, 234, 235) ;
    /*border: 0.2rem solid #3F51B5;*/
    padding:2rem 1rem;
}

.valueText{
    padding: 3rem 0;
    text-align: center;
}

.valueText h3{
    font-size: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 0.9rem;
    color: rgb(22, 22, 22);
}


/***Carousell***/

#frasesSection{
    padding-bottom: 7rem;
}

#frasesSection div h2{
   padding-top: 2rem;
   padding-bottom: 0.5rem;
}

#frasesCarousell{
    background-color:  rgb(231, 234, 235);
}

#frasesEquipo{
   height: 12rem;
   align-items: center;
}

#frasesEquipo p{
    align-items: center;
    text-align: center;
}

.pEquipoFrases {
    font-size: 1.3rem;
    line-height: 2.2rem;
}

.professionalSpan{
    font-weight: 600;
    color: rgb(15, 15, 15);
}

#quotationIcon {
    margin-top: 2rem;

}