/****Color de fondo de los divs de los proyectos y distancia entre los mismos*****/

.pPrimero {
    padding-top: 1rem;
    padding-bottom: 1rem;   
}

.pTercero {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.pSegundo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--gray);
}


/***enlaces***/

.enlaceProyectos{
    color: var(--secondary-text-color);
    font-weight: 600;
}

@media all and (min-width:1300px) {
    div.banner-text{
        padding-left:0vw ;
        margin-left: 16vw;
        
    }
    }

@media all and (max-width:992px) and (min-width:768) {
div.banner-text{
    text-align: center;
    margin: 0 auto;
    padding-left:0vw ;
    margin-left: 0vw;
    
}
}
@media all and (max-width:767px) {
    div.banner-text{
        text-align: center;
        margin: 0 auto;
        
    }
    h1{
        font-size: 2rem;
    }
    }