.pStyle{
    line-height: 1.8rem;
    letter-spacing: 0.5;
    font-size: 1.1rem;
}

.subTitle{
    font-size: 2rem;
    font-weight: 600;
}

.paddingText{
    padding-bottom: 2rem;
}



/****Color de fondo de los divs d los proyectos*****/

.pPrimero {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.pTercero {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.pSegundo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(231, 234, 235);
}

/****Banner de proyectos*****/

h1{
    margin-bottom: 1.5rem;
    padding-top: 2vh;
    
}

div.banner{
    width: 100%;
    color: white;
    background: linear-gradient(to left, #303F9F, #448AFF);
}

div.banner-text{
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    padding-left:7.5vw ;
}


@media all and (max-width:992px) and (min-width:768) {
div.banner-text{
    text-align: center;
    margin: 0 auto;
    
}
}
@media all and (max-width:767px) {
    div.banner-text{
        text-align: center;
        margin: 0 auto;
    }
    h1{
        font-size: 2rem;
    }
    }